<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleLocalizations</key>
  <array>
    <string>en</string>
    <string>fr</string>
    <string>es</string>
  </array>
  <key>CFBundleExecutable</key>
  <string>LampControl</string>
  <key>CFBundleIdentifier</key>
  <string>fr.hugoinformatique.lampcontrol</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>LampControl</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.1.1</string>
  <key>CFBundleVersion</key>
  <string>13</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 Hugo Informatique. Released under the MIT License.</string>
  <key>LCLicenseCheckoutURL</key>
  <string>https://lampcontrol.lemonsqueezy.com/checkout/buy/12d32ac2-9a5a-4120-a95e-36a10afb51d9</string>
  <key>LCLicenseExpectedStoreID</key>
  <integer>356642</integer>
  <key>LCLicenseExpectedProductID</key>
  <integer>1005308</integer>
  <key>LCLicenseExpectedVariantID</key>
  <integer>1577348</integer>
  <key>CFBundleIconFile</key>
  <string>AppIcon</string>
  <key>SUFeedURL</key>
  <string>https://hugoinformatique.github.io/LampControl/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>REPLACE_WITH_GENERATED_ED25519_PUBLIC_KEY</string>
  <key>SUEnableAutomaticChecks</key>
  <true/>
  <key>SUScheduledCheckInterval</key>
  <integer>86400</integer>
  <key>SUAllowsAutomaticUpdates</key>
  <true/>
</dict>
</plist>
